.root {
  display: block;
  color: inherit;
  text-decoration: none;
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}

.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  background: #eee;

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.category {
  font-size: 12px;
  padding: 2px 16px;
  border-radius: 24px;
  margin: 2px;
  color: #eee;
  display: inline-flex;
  background: #2e2e37;
}

.dateRange {
  position: absolute;
  bottom: 0;
  background: #25252c;
  padding: 4px 40px 4px 16px;
  margin: 4px 0px;
  border-radius: 0px 16px 16px 0px;
  font-size: 14px;
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}
